<div id="nav">
  <div class="navbar navbar-inverse navbar-fixed-top"  data-offset-top="100">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" style="height: 70px;"><img class="img-responsive logo" src="../../assets/img/iconfinder_Marker_red_1891013.png" alt="" style="width: 65px;
            height: 65px;
            margin-top: -12px;"></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">

          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#">Home</a>
            </li>
            <!-- <li><a href="#about">About</a>
            </li>
            <li><a href="#contact">Contact</a>
            </li> -->
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
      <!--/.contatiner -->
</div>
</div>
  