
<div class="container-fluid"  style="margin-top: 120px;">
  <div class="row">
    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
      <!-- <agm-map [latitude]="lat" [longitude]="lng" [zoom]='16'>
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map> -->

      <agm-map [latitude]="lat" [longitude]="lng"  [zoom]="zoom">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
       
        <agm-marker *ngFor="let data of location; let i = index" [latitude]="data.lat" [longitude]="data.lng" [label]="{
          color: '#ffffff',
          fontWeight: 'bold',
          text: (i + 1).toString()
      }" (markerClick)="getLocation(data.lat)">
         
        </agm-marker>
        
      </agm-map>




    </div>
    
      <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12" >
        <span style="color: red;">{{nameOfRes}}</span>

        <!-- <div class="list-group">
          <a href="#" class="list-group-item active">
            <h4 class="list-group-item-heading">First List Group Item Heading</h4>
            <p class="list-group-item-text">List Group Item Text</p>
          </a>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Second List Group Item Heading</h4>
            <p class="list-group-item-text">List Group Item Text</p>
          </a>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Third List Group Item Heading</h4>
            <p class="list-group-item-text">List Group Item Text</p>
          </a>
        </div> -->
     
    </div>
  </div>
</div>

